.coffee{
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1;
  .coffee__container{
    position: relative;
    height: 100%; 
    display: table-cell;
    vertical-align : middle;
    .left__container{
      position: absolute;
      float: left;
      width: 60%;
      top: calc(50% - 200px );
      h2
      {
        position: relative;
        width : 600px;
        left: -40px;
        text-align: center;
        margin: 0px auto 0 auto ;
        display: block;
        top: 50px;
        font-size: 50px;
        text-align: left;
      }
      h1
      {
        width : 100%;
        position: relative;
        line-height: 125px;
        margin: 0px auto 0 auto ;
        top: 80px;
        font-size: 200px;
      }
      h3{
        display: block;
        width : 320px;
        position: relative;
        margin: 0 auto 0 auto ;
        top: 90px;
        left: 220px;
        font : normal 400 50px "Merryweather";
      }
    }
    h6{
      position: relative;
      display: block;
      margin: 0 auto 0 auto ;
      width: 600px;
      top: 400px;
    }
    .coffee__svg{
      position: absolute;
      bottom: -100px;
      right:  0px;
      float: right;
      width: 1000px;
      height: 1750px;
      z-index: 20;
    }
    .drop1{
      position: absolute;
      display: block;
      top: 550px;
      right: 700px;
    }
    .drop2{
      position: absolute;
      display: block;
      top: 550px;
      right: 720px;
    }
    .spoon{
      position: absolute;
      display: block;
      top: 500px;
      right: 280px;
      z-index: 1;
    }
    .arrow{
      position: relative;
      display: block;
      width: 38px;
      height: 22px;
      top: 450px;
      background: url("../img/intro/arrow.png");
      margin: 0 auto ;
    }
  }
}


@include desktop-and-below{
  .coffee{
    .coffee__container{
      // background: green;
      // background-color: green;
      .left__container{
        width: 60%;
        top: calc(50% - 200px );
        h2
        {
          width : 600px;
          left: -40px;
          margin: 0px auto 0 auto ;
          top: 50px;
          font-size: 40px;
        }
        h1
        {
          width : 100%;
          line-height: 125px;
          margin: 0px auto 0 auto ;
          top: 80px;
          font-size: 140px;
        }
        h3{
          width : 320px;
          margin: 0 auto 0 auto ;
          top: 90px;
          left: 220px;
          font : normal 100 50px "Merryweather";
        }
      }
      h6{
        font-size: 16px;
        margin: 0 auto 0 auto ;
        width: 600px;
        top: 260px;
      }
      .coffee__svg{
        bottom: -100px;
        right:  0px;
        float: right;
        width: 800px;
        height: 1110px;
        top: -320px;
      }
      .drop1{
        top: 235px;
        right: 540px;
      }
      .drop2{
        top: 210px;
        right: 570px;
      }
      .spoon{
        top: 200px;
        right: 230px;
        width: 150px;
      }
      .arrow{
        width: 38px;
        height: 22px;
        top: 285px;
        background: url("../img/intro/arrow.png");
        margin: 0 auto ;
      }
    }
  }
}



@include big-screen{
  .coffee{
    .coffee__container{
      // background: black;
      // background-color: black;
      .left__container{
        width: 60%;
        top: calc(50% - 200px );
        h2
        {
          width : 600px;
          left: -40px;
          margin: 0px auto 0 auto ;
          top: 50px;
          font-size: 40px;
        }
        h1
        {
          width : 100%;
          line-height: 125px;
          margin: 0px auto 0 auto ;
          top: 80px;
          font-size: 140px;
        }
        h3{
          width : 320px;
          margin: 0 auto 0 auto ;
          top: 90px;
          left: 220px;
          font : normal 100 50px "Merryweather";
        }
      }
      h6{
        font-size: 16px;
        margin: 0 auto 0 auto ;
        width: 600px;
        top: 260px;
      }
      .coffee__svg{
        bottom: -100px;
        right:  0px;
        float: right;
        width: 800px;
        height: 1270px;
        top: -185px;
      }
      .drop1{
        top: 435px;
        right: 540px;
      }
      .drop2{
        top: 410px;
        right: 570px;
      }
      .spoon{
        top: 400px;
        right: 230px;
        width: 150px;
      }
      .arrow{
        width: 38px;
        height: 22px;
        top: 385px;
        background: url("../img/intro/arrow.png");
        margin: 0 auto ;
      }
    }
  }
}


@include tablet-landscape-and-below {
  .coffee{
    .coffee__container{
      .left__container{
        width: 60%;
        top: calc(50% - 200px );
        h2
        {
          width : 600px;
          left: 50px;
          margin: 0px auto 0 auto ;
          top: 50px;
          font-size: 40px;
        }
        h1
        {
          width : 100%;
          line-height: 125px;
          margin: 0px auto 0 auto ;
          top: 80px;
          font-size: 140px;
          left: 100px;
        }
        h3{
          width : 320px;
          margin: 0 auto 0 auto ;
          top: 90px;
          left: 320px;
          font : normal 100 50px "Merryweather";
        }
      }
      h6{
        font-size: 16px;
        margin: 0 auto 0 auto ;
        width: 600px;
        top: 260px;
      }
      .coffee__svg{
        bottom: -100px;
        right:  -80px;
        float: right;
        width: 420px;
        height: 1080px;
        top: -185px;
      }
      .drop1{
        top: 345px;
        right: 190px;
      }
      .drop2{
        top: 330px;
        right: 210px;
      }
      .spoon{
        top: 320px;
        right: 30px;
        width: 110px;
      }
      .arrow{
        width: 38px;
        height: 22px;
        top: 325px;
        background: url("../img/intro/arrow.png");
        margin: 0 auto ;
      }
    }
  }
}