.solutionToU{
  width: 100%;
  height: 100%;
  display: table;
  .solutionToU__container{
    position: relative;
    height: 100%; 
    background-color : #8a5e90;
    display: table-cell;
    vertical-align : middle;
    h2
    {
      position: relative;
      width : 100%;
      left: 30px;
      text-align: center;
      margin: 0px auto 0 -315px ;
      display: block;
      top: 30px;
    }
    h1
    {
      width : 100%;
      position: relative;
      line-height: 125px;
      margin: 0px auto 0 auto ;
      top: 40px;
    }
    h3{
      display: block;
      width : 370px;
      position: relative;
      margin: 0 auto 0 auto ;
      top: 40px;
      right: -400px;
    }
    .arrow{
      position: absolute;
      display: block;
      width: 38px;
      height: 22px;
      top: 50%;
      right: 30px;
      @include transform(rotate(-90deg));
      background: url("../img/intro/arrow.png");
      margin: 0 auto ;
    }
  }
}

@include tablet-landscape-and-below {
  .solutionToU{
    .solutionToU__container{
      h2
      {
        left: 30px;
        margin: 0px auto 0 -315px ;
        top: 0px;
      }
      h1
      {
        line-height: 125px;
        margin: 0px auto 0 auto ;
        top: 0px;
      }
      h3{
        width : 370px;
        top: 0px;
        right: -250px;
      }
      .arrow{
        top: 50%;
        right: 30px;
        @include transform(rotate(-90deg));
        background: url("../img/intro/arrow.png");
        margin: 0 auto ;
      }
    }
  }
}