doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    title= "SNCF"
    meta(name="viewport", content="width=device-width, maximum-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel='icon', type='image/png', href='img/SNCF-logo.png')

    //- link(rel="stylesheet", href="http://antoinecharbonnier.fr/test/SNCF/css/jquery.fullPage.css")
    //- link(rel="stylesheet", href="http://antoinecharbonnier.fr/test/SNCF/css/examples.css")    
    link(rel="stylesheet", href="css/main.css")

    
  body
    //- .fullpage
    .bigger__container
      .transiliens
        .section.transiliens__container
          img(src="img/SNCF-logo.png" alt="Logo-SNCF")
          h4 présente
          h2 Les
          h1 Transiliens
          h3 et vous ? 
          h5 Une autre façon d'avancer
          .arrow
    .bigger__container
      .coffee
        .section.coffee__container
          .left__container
            h2 Avez-vous eu <br> le temps de boire votre
            h1 Café
            h3 ce matin ? 

          include templates/coffeeSvg           
          img(src="img/goutte1.png" alt="Goutte1" class="drop1")
          img(src="img/goutte2.png" alt="Goutte2" class="drop2")
          img(src="img/cuillere.png" alt="Cuilliere" class="spoon")

          .clear
          h6 45% des Voyageurs Transiliens ont repondu NON, et vous ?
          .arrow
    .bigger__container
      .clock
        .section.clock__container
          .left__container
            h2 Combien <br> de fois votre
            h1 Réveil
            h3 a t'il sonné ? 
           
          include templates/clockSvg

          .clear
          h6 Participez à notre sondage et aider nous à amméliorer vos trajets
          .arrow
    .bigger__container
      .teeth
        .section.teeth__container
          .left__container
            h2 Avez-vous utilisé votre
            h1 Brosse <br> à dents
            h3 plus de 2min ce matin ? 
            
          include templates/teethSvg
          img(src="img/dentifrice-flat.png" alt="Dentifrice" class="toothpaste")

          .clear
          h6 Pas de honte! 35 % des usagers Transiliens avouent que NON, et vous?
          .arrow
    
    .bigger__container  
      .solutionToU
        .section.solutionToU__container
          h2 Des
          h1 solutions
          h3 pour vous.
          .arrow
    .bigger__container
      .travel
        .section.travel__container
          img(src="img/SNCF-logo.png" alt="Logo-SNCF")
          h4 présente
          h2 Voyager en 
          h1 horaires
          h3 décalés! 
          h5 Comment ça marche ? 
          .arrow
    .bigger__container
      .saving
        .section.saving__container
          h2 Faites des 
          h1 économies
          h3 sur vos billets.
          
          .select__box
            h4.choose Choisissez votre ligne : 
            ul 
              li.title Ligne ----
              li A
              li B
              li C
              li D
            h4.ok OK
          p 
            |Cet outil vous permet de vous renseigner sur les temps d’affluence de votre ligne pour vous éviter de prendre les transports pendant les heures de pointe.<br>
            |La SNCF lance à partir du 1er Décembre 2014 un nouveau concept : Les prix des billets seront réduits de moitié en dehors des heures de pointe. Le traffic sera fluidifié, vous ferez des économies et profiterez de votre temps libre sur les temps perdus en trajets surchargés habituellement.

          .arrow
    .bigger__container
      .data
        .section.data__container
          .left--side 
            h2.selected--line Ligne n° <span class="line--number">115</span>
            h4.direction Alfort - Menilmontant
          .right--side   
            .select__box
              h4.choose Choisissez votre ligne : 
              ul 
                li.title Ligne ----
                li A
                li B
                li C
                li D
              h4.ok OK

          .timeline__container
            img(src="img/slider-tmp.png" alt="Slider")
          .impact__container
            .impact--affluence
              img(src="img/Data_Illu_png/affluence_1.png" alt="Affluence")
              h2.impact--subtitle Affluence
              h2.count 88<span class="percent--style">%</span> 
            .impact--saving
              img(src="img/Data_Illu_png/illus_economie_1.png" alt="Economie")
              h2.impact--subtitle Economie
              h2.count 0<span class="percent--style">%</span> 
            .impact--stress
              img(src="img/Data_Illu_png/illus_stress-2.png" alt="Stress")
              h2.impact--subtitle Stress
              h2.count <span class="more--style">+</span> 150<span class="percent--style">%</span> 
          



    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js')   
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")
    script(src="http://antoinecharbonnier.fr/GreenSock-ShockinglyGreen-js/src/uncompressed/utils/SplitText.js")
    script(src="http://antoinecharbonnier.fr/GreenSock-ShockinglyGreen-js/src/uncompressed/plugins/ScrambleTextPlugin.js")
    script(src="http://antoinecharbonnier.fr/GreenSock-ShockinglyGreen-js/src/uncompressed/plugins/DrawSVGPlugin.js")
    //- script(src="http://antoinecharbonnier.fr/test/SNCF/js/examples.js")
    //- script(src="http://antoinecharbonnier.fr/test/SNCF/js/attrchange.js")
    //- script(src="http://antoinecharbonnier.fr/test/SNCF/js/initNav.js")          

    script(src="js/main.js")
    