svg.clock__svg.right__container#clock(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 595.3 841.9', enable-background='new 0 0 595.3 841.9', xml:space='preserve')
  g#fond
  g#cadran
    path#clockPath0(fill='none', stroke='#000', d='M367.4,486.6c14.7-16.4,23.6-38.1,23.6-61.8c0-49.8-39.2-90.5-88.5-92.8l3.2-3.3v-10.3h-15.1l0.1,10.3                                         l3.4,3.3c-49.4,2.1-88.8,42.8-88.8,92.8c0,23.5,8.7,44.9,23.1,61.3L212.3,509l4.3,4l22.5-16.6c16.1,13.2,36.6,21.2,59.1,21.2                                         c22.1,0,42.4-7.7,58.3-20.6l23.1,17l4.3-4L367.4,486.6L367.4,486.6z')
    path#clockPath1(fill='none', stroke='#000', d='M221.3,424.4a76.5,76.5 0 1,0 153,0a76.5,76.5 0 1,0 -153,0')
  g#sonnette
    path#clockPath2(fill='none', stroke='#000', d='M401.7,332.3l7.4-7.2l-10.7-10.7l-7.3,7.3l-0.1,5.4c-7.7-7.1-18-11.5-29.3-11.5c-9.9,0-19,3.3-26.3,8.9                                         l59.6,61.8c6.2-7.5,9.9-17,9.9-27.5c0-10-3.4-19.3-9.2-26.6L401.7,332.3z')
  g#sonnette2
    path#clockPath3(fill='none', stroke='#000', d='M233.5,316.3c-11.3,0-21.5,4.3-29.2,11.4l-0.1-6l-7.3-7.3l-10.7,10.7l7.4,7.2l6.4-0.1                                         c-6,7.4-9.7,16.9-9.7,27.2c0,9.9,3.3,19,8.9,26.3l61.8-59.6C253.5,320,243.9,316.3,233.5,316.3z')
